extends layout

block content

  h1 #{title}: #{currentUser.username}
          
  form(method='POST' action='')
    div.form-group
      label(for='name') Admin code:
      input#name.form-control(type='text', placeholder='Add your admin secret code' name='admin' required='true' value='' )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg