extends layout

block content

  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Add your username' name='username' required='true' value='' )
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Add your password' name='password' required='true' value='' )
    button.btn.btn-primary(type='submit') Submit