extends layout

block content

  h1 #{title}
          
  form(method='POST' action='')
    div.form-group
      label(for='name') Membership code:
      input#name.form-control(type='text', placeholder='Add your membership secret code' name='member' required='true' value='' )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg