extends layout

block content
  h1 #{title}: #{message.title}
   
  p Do you really want to delete this Message?
    
  form(method='POST' action='')
    div.form-group
      input#messageid.form-control(type='hidden',name='messageid', required='true', value=message._id )

    button.btn.btn-primary(type='submit') Delete Message