extends layout

block content

  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='fname') First Name:
      input#fname.form-control(type='text', placeholder='Add your first name' name='fname' required='true')
      div.form-group
      label(for='lname') Last Name:
      input#lname.form-control(type='text', placeholder='Add your last name' name='lname' required='true')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Add your username' name='username' required='true')
    div.form-group
      label(for='password1') Password:
      input#password1.form-control(type='password', placeholder='Add your password' name='password1' required='true')
    div.form-group    
      label(for='passwordConfirmation') Password:
      input#passwordConfirmation.form-control(type='password', placeholder='Confirm your password' name='passwordConfirmation' required='true')
    button.btn.btn-primary(type='submit') Submit
  
  if errors 
    ul
      for error in errors
        li!= error.msg